/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* Root Variables */
:root {
    --primary-color: #000000;
    --secondary-color: #f2f0f1;
    --text-color: #000000;
    --light-text: #666666;
    --white: #ffffff;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--white);
    overflow-x: hidden;
}

/* Container */
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Lists */
ul,
ol {
    list-style: none;
}

/* Buttons */
button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

/* Input */
input {
    border: none;
    outline: none;
    font-family: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
}

/* Paragraph */
p {
    line-height: 1.6;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}